name: Validate

on:
    push:
        branches: ["**"]

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - name: "Set up Go"
              uses: actions/setup-go@v5
              with:
                  go-version: "1.21"
            - name: "Install Buf"
              uses: bufbuild/buf-setup-action@v1
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
            - name: "Run make validate"
              run: make validate
